<h1>Admin Panel</h1>



<a class="collapse-item btn-danger" asp-controller="ClothesCategory" asp-action="Index">Geyimlərin Kateqoriyası</a> <br />

<br /> <a class="collapse-item btn-danger" asp-controller="Genders" asp-action="Index">Cins</a>