@model Infrastructure.Genders.Commands.CreateGenderCommand

@section scripts{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<div class="m-3 mt-5">
    <div class="title">
        <h2 style="color:#273044"> <span style="color:#FF0000">#</span> Gender əlavə et</h2>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <div class="col-lg-10">
                <input asp-for="Name" class="form-control" placeholder="Ad">
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-success mt-1">Yadda saxla</button>
        </div>
    </form>
</div>
